<!-- <div class="row">{{productList[0] | json}}</div> -->
<div class="row">
  <div class="col-md-12">
    <div class="my-2">
      <p-button label="New Product" (click)="productFormOpen('Add')" icon="pi pi-plus"></p-button>
    </div>
    <div class="card">
      <p-table [value]="productList" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Products
            <!-- <p-button icon="pi pi-refresh" (click)="reload()" /> -->
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            @for(head of tableHeader; track head){
            <th>{{head.title}}</th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.name || '-'}}</td>
            <td>
              <img [src]="product.img" [alt]="product.name" width="100" class="shadow-4" />
            </td>
            <td>{{product.orderAmount || '-'}}</td>
            <td>{{product.price || '-'}}</td>
            <td>{{product.stockAmount || '-'}}</td>
            <td>
              <p-button (click)="productFormOpen('Edit',product)" icon="pi pi-pen-to-square" />
              <p-button (click)="productFormOpen('Delete',product)" severity="danger" icon="pi pi-trash" />
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{productList ? productList.length : 0 }} products.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- tost -->
<div class="card flex justify-content-center">
  <p-toast />
</div>
