<div class="row justify-content-center">
  <p-messages [(value)]="messages" [enableService]="false" [closable]="false" />
  <form [formGroup]="ProductForm" (ngSubmit)="onProductFormControls()">
    <div class="flex align-items-center gap-3 mb-3" *ngFor="let field of formFields">
      <label [for]="field.id" class="font-semibold w-9rem">{{ field.label }}</label>
      <input pInputText [id]="field.id" class="flex-auto" autocomplete="off" [formControlName]="field.name" />
      <div
        *ngIf="ProductForm.get(field.name)?.invalid && (ProductForm.get(field.name)?.dirty || ProductForm.get(field.name)?.touched)">
        <small class="p-error" *ngIf="ProductForm.get(field.name)?.errors?.['required']">
          {{ field.label }} is required.
        </small>
      </div>
    </div>
    <div class="flex justify-content-end align-items-center gap-2">
      <p-progressSpinner *ngIf="isLoading" styleClass="w-2rem h-4rem" strokeWidth="5" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
      <p-button [label]="isLoading ? 'Loading...' : action" type="Submit" [disabled]="isLoading"></p-button>
    </div>
  </form>
</div>